{% extends 'base.html' %}

{% block menu %}<li><a href="{% url "add_comment" %}">Добавить запись</a></li>{% endblock menu %}
{% block title %}Все записи{% endblock title %}
{% block page_header %}Комментарии{% endblock page_header %}
{% block content %}
    {% if not comment %}
        <h2>Нету записи</h2>
    {% endif %}
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th><th scope="col">email</th><th scope="col">comment</th>
    </tr>
  </thead>
  <tbody>
        {% for comment in comment %}
           <tr>
        {% if comment.status != 'blocked' %}

            <th>{{ comment.id }}</th>
            <th>{{ comment.name }}</th>
            <th>{{ comment.email }}</th>
            <th>{{ comment.comment }}</th>
{#            <td><a href="{% url "del_comment" good.id %}">{{ good.name }}</a></td>#}
        {% endif %}
          </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}