{% extends 'base.html' %}

{#{% block menu %}<li><a href="{% url "#" %}">Создать статью</a></li>{% endblock menu %}#}

{% block title %}Все записи{% endblock title %}

{% block page_header %}Все комментарии{% endblock page_header %}

{% block content %}
    {% if not comment %}
        <h2>НЕТ КОММЕНТАРИЙ</h2>
    {% endif %}

    {% for comment in comment %}

                <div><p>{{ comment.id }}.{{ comment.name }}</p><p>{{ comment.email }}</p><p>{{ comment.status }}</p></div>
                <div>{{comment.comment }}</div>

            <h6>
                        <a href="{% url 'update_comment' comment.pk %}">изменить</a>
            </h6>



    {% endfor %}
{% endblock content %}